# Python
.pyc
__pycache__
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info
dist/
build/
.pytest_cache/
.coverage
.db
*.db

# Node/Bun
node_modules/
bun.lockb
.bun/

# Java/Maven
target/
*.class
*.jar
*.war
.mvn/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


# Examples
examples/blog_app/uploads

# PyPi
.pypirc

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist